{%extends "base.html"%}

{%block title%}DearSoap{%endblock title%}

{%block content%}
<h1 class="text-center text-primary fw-bold">Dear Soap</h1>

    <div class="hero">
    <img class="hero-image" src="/static/img/hero.jpg" alt="soap" > 
    </div>
    <h2>Hand Made Soap for Beginners</h2>
    <h3>Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum aut placeat tempora cupiditate deleniti reprehenderit </h3>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dolorum perspiciatis repudiandae, quas provident obcaecati ea, modi similique, nostrum maiores iure asperiores quia reiciendis sunt blanditiis eos minus hic totam ratione.</p>

{%endblock content%}